/*----------------------------------------------------------------------------
    Éléments Génériques
----------------------------------------------------------------------------*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
    Base
------------------------------------------------------------------------------*/

body {
    font:
        1.125rem/160% "Roboto",
        sans-serif;
    font-optical-sizing: auto;

    color: #000000;
    background-color:
        #fff;
}

.wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #000000;
    text-decoration: none;
}

button {
    font:
        bold 1.125rem "Jost",
        sans-serif;

    color: #fff;

    background-color: #E25254;
    border-radius: 50vh;
    border-color: transparent;

    font-weight: bold;
    line-height: 100%;

    display: flex;
    align-self: flex-end;

    padding: 15px 20px;

    cursor: pointer;

    max-width: 160px;
}

.textbox {
    max-width: 588px;
}

/*------------------------------------------------------------------------------
   Typographie
------------------------------------------------------------------------------*/

h1 {
    color: #ffffff;
    font:
        bold 3.3.125 "Jost",
        sans-serif;
    line-height: 110%;

    margin: 0;
}

h2 {
    color: #000;

    font:
        bold 2.25rem "Jost",
        sans-serif;
    line-height: 110%;

    margin-top: 0;
    padding-top: 30px;
}

h3 {
    color: #E25254;

    font:
        bold 1.375rem "Jost",
        sans-serif;
    line-height: 110%;

    margin: 0;
}

/*------------------------------------------------------------------------------
   Sections
------------------------------------------------------------------------------*/

/* HEADER */

.header {
    font:
        bold 1.125rem "Jost",
        sans-serif;
    color: #000;

    position: relative;
}

.header .wrapper {
    background-color: #fff;
    background-size: cover;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;

    padding: 0 80px;
}

.logo {
    color: inherit;

    font-weight: bold;
    font-size: 2.625rem;

    margin: 0;
}

.menu ul {
    list-style-type: none;

    display: flex;
    align-items: center;
    gap: 30px;
}

.menu a:hover {
    color: #E25254;
}

/* HERO */

.hero {
    min-height: 650px;
    background: url("../images/hero.jpg") no-repeat top center;
    background-size: cover;
}

.hero .wrapper {
    background-color: rgba(226, 82, 84, 0.9);

    max-width: 587px;

    position: absolute;
    top: 140px;
    right: 100px;
    z-index: 1;
}

.herotxt {
    color: #fff;

    margin: 40px;
}

.herotxt a {
    color: #fff;

    background-color: #C0392B;
    border-radius: 50vh;

    font-weight: bold;
    line-height: 100%;

    display: flex;
    justify-self: flex-end;

    padding: 15px 20px;
}

/* CONTENU PRINCIPAL */

.services {
    padding-bottom: 80px;

    background-color: #D6D6D6;
}

.types-services {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
}

.types-services .type a:hover {
    background-color: #E25254;
    color: #fff;
}

.services a {
    padding: 20px;
}

.type {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    background-color: #ffffff;
    margin: 0;
}

/* CONTENU 02 */

.conseils {
    background: url("../images/tuiles.jpg") repeat center;
    background-size: 100px;
    background-color: rgba(139, 45, 47, 0.9);
    background-blend-mode: darken;

    padding-bottom: 80px;
}

.conseils .wrapper {
    text-align: left;

    color: #fff;
}

.conseils h2 {
    color: #fff;
}

.types-conseils {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);

    color: #000;
}

.type02 {
    padding: 20px;
}

.type02 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    background-color: #ffffff;
    margin: 0;
    padding: 30px;
}

/* MODAL */

.zoom {
    font:
        900 18.75rem/160% "Jost",
        sans-serif;

    color: #E25254;

    text-align: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;

    background-color: rgba(0, 0, 0, 0.8);

    display: none;
    justify-content: center;
    align-items: center;

    padding: 30px;

    cursor: pointer;
}

.modal.visible {
    display: flex;
}

/* FOOTER */

.footer {
    text-align: center;

    background-color: #E25254;
    color: #fff;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}